.button {
    background-color: #4f46e5;
    /* фіолетовий */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #4338ca;
    /* темніший відтінок */
}

.button:disabled {
    background-color: #a5b4fc;
    cursor: not-allowed;
}